<h1># amazon-discovery</h1>
<h2>YOUR personal feed</h2>
<p>hello<img src="/static/pic1.png"/></p>
<h2>YOU might like</h2>
<p>hello<img src="/static/pic3.png"/></p>
<h2>content discovery</h2>
<p>hello<img src="/static/pic2.png"/></p>
<h2>trending content AI</h2>
<p>hello<img src="/static/pic4.png"/></p>
<h2>surfacing based on AI metrics, engagement</h2>

<h2>NOT AI : list des posts</h2>
<table>
<tr>
<td></td>
<td>hello<img src="/static/pic1.png" width=100 height=100/></td>
<td>post 1</td>
<td>title</td>
<td>content</td>
</tr>
<tr>
<td></td>
<td>hello<img src="/static/pic2.png" width=100 height=100/></td>
<td>post 2</td>
<td>title</td>
<td>content</td>
</tr>
</table>
<a href="/add_one_photos"> add one photos</a><a href="/add_one_video"> add one video</a><a href="/add_one_post"> add one post</a><a href="/add_one_recording"> add one recording</a><a href="/add_one_user"> add one user</a>